<div class="w-100 h-500px d-flex flex-column justify-content-center align-items-center" data-aos="fade-down">

    <h3 class="text-center font-montserrat">OUR COMMITTED BENEFITS</h3>
    <br>

    <div class="w-80 h-240px d-flex flex-row justify-content-between align-items-center">
        <div class="w-25 h-200px d-flex flex-column justify-content-around align-items-center" data-aos="fade-down">
            <i class="far fa-lightbulb" style="font-size:100px; opacity:0.8;"></i>
            <span class="font-montserrat">SELF-SERVE BOBA</span>
        </div>

        <div class="w-25 h-200px d-flex flex-column justify-content-around align-items-center" data-aos="fade-down">
            <i class="fas fa-motorcycle" style="font-size:100px; opacity:0.8;"></i>
            <span class="font-montserrat">DELIVER TO YOUR HAND</span>
        </div>

        <div class="w-25 h-200px d-flex flex-column justify-content-around align-items-center" data-aos="fade-down">
            <i class="fas fa-prescription-bottle-alt" style="font-size:100px; opacity:0.8;"></i>
            <span class="font-montserrat">USER FRIENDLY</span>
        </div>
            
        <div class="w-25 h-200px d-flex flex-column justify-content-around align-items-center" data-aos="fade-down">
            <i class="far fa-comments" style="font-size:100px; opacity:0.8;"></i>
            <span class="font-montserrat">EASY TO REACH ANYTIME</span>
        </div>
    </div>
    <br>
    <a role="button" class="btn btn-outline-secondary btn-lg" href="/menu" data-aos="fade-up">
         Cho mình đặt hàng ngay 
        <i class="far fa-smile-beam"></i>
        <i class="fas fa-headset"></i>
    </a>

</div>