<div class="h-700px d-flex flex-column align-items-center justify-content-center hover01" data-aos="fade-left">
    <div class="w-75 h-240px d-flex flex-row justify-content-around align-items-center picture">
        <figure> <img src="../../static/image/milktea6.jpg" width="223px" height="100%" style ="object-fit: cover;" ></figure>
            <figure><img src="../../static/image/desert.jpeg" width="220px" height="100%" style ="object-fit: cover;"></figure>
                <figure><img src="../../static/image/boba3.jpg" width="220px" height="100%" style ="object-fit: cover;"></figure>
                    <figure><img src="../../static/image/boba6.jpg" width="220px" height="100%" style ="object-fit: cover;"></figure>
    </div>

    <div class="w-75 h-240px d-flex flex-row justify-content-around align-items-center picture " data-aos="fade-right">
            <figure><img src="../../static/image/boba8.jpg" width="223px"  height="100%" style ="object-fit: cover;"> </figure>
                <figure><img src="../../static/image/boba7.jpg" width="223px"  height="100%" style ="object-fit: cover;"></figure>
                    <figure><img src="../../static/image/boba1.jpeg"  width="223px" height="100%" style ="object-fit: cover;"></figure>
                        <figure><img src="../../static/image/boba.jpg"  width="223px" height="100%" style ="object-fit: cover;"></figure>
    </div>
</div>