<!DOCTYPE htm>
<htm>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    {% include 'meta-data.htm' %}
</head>
<body class="bg-smoke">
    {% include 'homepage/navigation.htm' %}
    <br>
    <br>
    <div class="h-100px mt-5">
      <h1 class="text-center font-volk display-4 ">Founders</h1> 
    </div>
    <div class="w d-flex justify-content-around  align-items-center">

     <div class="container1 d-flex justify-content-center align-items-center">
            <img class="image" src="https://scontent.fhan5-7.fna.fbcdn.net/v/t1.0-9/34837294_1783082088473289_490901267145555968_n.jpg?_nc_cat=0&oh=c0d149d604c9484f8af5ca315cc2dd4d&oe=5C030D18" >
            <div class="overlay">
              <div class="text">Hà Thu</div>
            </div>
    </div>


     <div class="container1 d-flex justify-content-center align-items-center"> 
            <img class="image" src="https://scontent.fhan5-7.fna.fbcdn.net/v/t1.0-1/24129452_1037679966371415_5614038426154555559_n.jpg?_nc_cat=0&oh=339ba95380b7ef594dd612ff6f3a5642&oe=5BEF28F7">
            <div class="overlay">
              <div class="text">Kim Diệu</div>
            </div>
    </div> 


     <div class="container1 d-flex justify-content-center align-items-center">
            <img class="image" src="https://scontent.fhan5-7.fna.fbcdn.net/v/t1.0-9/37712875_1030059603819774_4193227118554906624_n.jpg?_nc_cat=0&oh=6f15dd4161764ec22b488462b87d21fe&oe=5BEED1BD">
            <div class="overlay">
              <div class="text">Việt Linh</div>
            </div>
    </div> 

    <div class="container1 d-flex justify-content-center align-items-center">
            <img class="image" src= "https://scontent.fhan5-7.fna.fbcdn.net/v/t31.0-1/c282.0.960.960/p960x960/10506738_10150004552801856_220367501106153455_o.jpg?_nc_cat=1&oh=42f4c890bd7fb04b983c7e674563c2d1&oe=5BEEED12" >
            <div class="overlay">
              <div class="text">Hoàng</div>
            </div>
    </div> 
    </div>   

    <div style="height:100px"></div>
    {% include 'homepage/footer.htm' %}

   

</body>
</htm>