<!DOCTYPE html>
<htm lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    {% include "meta-data.htm" %}
</head>
<body>
    {% include 'homepage/navigation.htm' %}
    <div style=" margin-top: 80px; height:200px; background-color:rgb(134, 132, 132)" class="d-flex justify-content-center align-items-center"> 
            <strong><font size="20" class="font-montserrat text-light">Liên hệ với chúng tôi</font></strong>
    </div>
    <hr>
    <div class="container" style="width:70%">     
            <p class="font-montserrat"><i class="fas fa-star mr-1"></i>The1999s Thành Công: Tầng 6 tòa 22c Thành Công.</p>
            <p class="font-montserrat"><i class="fas fa-star mr-1"></i>Điện thoại: 0986768843 - Việt Linh</p>
            <p class="font-montserrat"><i class="fas fa-star mr-1"></i>Email: viet.ling1@gmail.com</p>
            <p class="font-montserrat`"><i class="fas fa-star mr-1"></i>Facebook: <a href="https://www.facebook.com/viet.ling">viet.ling</a></p>
            


            
    <hr>
    <img src="../static/image/Capture.PNG" alt="" width="100%" height="500px">
    
    <hr>
    </div>
      

    {% include "/homepage/footer.htm" %}        

    
</body>
</htm>
