<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {{user.fullname}} <br>
    {{user.email}} <br>
    {{user.phone}} <br>
    {{user.address}} <br>
    <hr>
    {% for trasua in tra_sua %}
        {{trasua.name}}
        {{trasua.sugar}}
        {{trasua.ice}}
        {{trasua.size}}
        {{trasua.topping}}
        <br>
        <br>
    {% endfor %}




</body>
</html>