<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    {% include "meta-data.htm" %}
</head>
<body id="signup-bg">
    <div class="d-flex justify-content-center">
    <div class="btn1 bg-light pointer1" style="width:590px; margin-top:70px">
        <h1  class="font-montserrat">Sign up!</h1>
        <h2 class="font-montserrat text-secondary">Khuyến mãi tặng 1 cốc size M</h2>
        <h2 class="font-montserrat text-secondary">Cho đơn hàng đầu tiên <i class="fas fa-heart"></i></h2>
        <form action="" method="POST">
            <div class="d-flex">

                <div class="col-md-3 d-flex flex-column text-left">
                    <label style="margin-top:10px"><i class="fas fa-hand-point-right mr-2"></i>Họ và đệm</label>
                    <label class="mt-3"><i class="fas fa-hand-point-right mr-2"></i>Tên</label>
                    <label for="" class="mt-3"><i class="fas fa-hand-point-right mr-2"></i>Tên đăng nhập</label>
                    <label for="" class="mt-3"><i class="fas fa-hand-point-right mr-2"></i>Password</label>
                    <label style="margin-top:13px"><i class="fas fa-hand-point-right mr-2"></i>Email</label>
                    <label style="margin-top:12px"><i class="fas fa-hand-point-right mr-2"></i>Địa chỉ giao hàng</label>
                    <label style="margin-top:12px"><i class="fas fa-hand-point-right mr-2"></i>Số điện thoại</label>

                </div>
                <div class="col-md-8">
                    <input type="text" name="surname" id="" class="my-2" size="30"><br>
                    <input type="text" name="name" id="" class="my-2" size="30"><br>
                    <input type="text" name="user" size="30" class="my-2"><br>
                    <input type="password", name="password" size="30" class="my-2"><br>
                    <input type="email" name = "email" size="30" class="my-2"><br>
                    <input type="text" name = "address" size="30" class="my-2"><br>
                    <input type="text" name = "phone" size="30" class="my-2"><br>
                </div>
            </div>
            <input type="submit" class="btn btn-outline-secondary btn-lg" style="margin-top:25px" value="Chiến thôi!">
        </form>
    </div>
    <div class="">

    </div>
    
</body>
</html>